*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-rows: 200px 1fr 150px;
    height: 100vh;
    font-family: 'Fjalla One', sans-serif;
    background-color: #14313e;
    background-image: url("https://bs-uploads.toptal.io/blackfish-uploads/components/seo/content/og_image_file/og_image/1284736/op-Ten-Front-End-Design-Rules-For-Developers_Luke-Social-33a3a7c9b759fdaa22973906070f8065.png");
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    height: 20%;
}

header p{
    font-size: 3rem;
    color: red;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

button{
    width: 200px;
    height: 100px;
    border-radius: 10px;
    background-color: red;
    border: none;
}

button:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 20px black;
}

button a{
    font-size: 1.75rem;
    font-family: 'Fjalla One', sans-serif;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #ffdf00;
}