*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 16px;
}

.item{
    background-color: black;
    height: 50px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: whitesmoke;
    padding-inline: 32px;
}

button{
    padding: 2px 8px;
}

input{
    height: 30px;
}

.result{
    width: 75px;
    height: 20px;
    background-color: white;
    color: black;
}