*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 36px;
}

.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 32px;    
    gap: 64px;
}

.itensIndiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
}

.item{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 95%;
    padding-inline: 32px;
    gap: 24px;
    font-weight: 700;
    border-radius: 16px;
}

button{
    color: white;
    cursor: pointer;
    background-color: maroon;
    padding: 2px 6px;
    border: none;
    width: auto;
    padding-inline: 12px;
    height: 2rem;
    border-radius: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

.result, input{
    width: 150px;
    height: 40%;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    padding-inline: 4px;
    border: none;
    border-radius: 2px;
}