*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 16px;
    color: white;
}

.itensIndiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
}

.item{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    width: 95%;
    padding-inline: 32px;
    gap: 24px;
    font-weight: 700;
    border-radius: 16px;
}

button{
    color: black;
    cursor: pointer;
    background-color: red;
    padding: 2px 6px;
    padding-inline: 12px;
    height: 2rem;
    border-radius: 10px;
    font-weight: 300;
    text-transform: uppercase;
}

.result, input{
    width: 150px;
    height: 40%;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    padding-inline: 4px;
    border-radius: 2px;
}